# React Files
react/node_modules/
react/package-lock.json

# Go Folders and files
go-backend/frontend/
go-backend/tmp/
go-backend/server
go-backend/theme.txt

# Logs and misc
*.log
.DS_Store
.vscode/

# VSCode
.vscode/

# macOS / Linux
.DS_Store
*.swp

# Logs
*.log

#password for dev mode
secret.env

